[Unit]
Description=Sound card autoconfiguration service
Requires=i2csound.service
After=i2csound.service

[Service]
Type=oneshot
User=1000
ExecStart=/usr/libexec/soundcard-autoconfigure
RemainAfterExit=yes
Restart=on-failure
RestartSec=10

[Install]
WantedBy=sound.target