[Unit]
Description=Sound Sink auto-combiner service
Requires=systemd-modules-load.service
After=systemd-modules-load.service

[Service]
Type=oneshot
Group=ovos
UMask=002
ExecStart=/usr/libexec/update-audio-sinks
RemainAfterExit=yes
Restart=on-failure
RestartSec=5
