[Unit]
Description=USB Sound card combined sink service

[Service]
Type=oneshot
User=1000
ExecStart=/usr/libexec/usb_autovolume
RemainAfterExit=yes
Restart=on-failure
RestartSec=5
